* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
  font-size: 2rem;
}

.display {
  grid-column: 1 / -1;
  color: #fff;
  padding-top: 3rem;
  padding-right: 1rem;
  font-size: 2rem;
  overflow: hidden;
  background-color: grey;
  text-align: end;
}

.container {
  height: 80vh;
  width: 80vh;
  padding: 1rem;
}

.wrapper {
  padding: 3px;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.btn {
  display: grid;
  place-content: center;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid rgb(177, 174, 172);
  padding: 1rem;
}

.orange {
  background-color: rgb(218, 119, 27);
}

.orange:hover {
  background-color: rgba(228, 155, 19, 0.425);
  border: 3px solid rgb(247, 245, 244);
}

.grey {
  background-color: rgb(187, 187, 181);
}

.grey:hover {
  border: 3px solid #fff;
  background-color: rgb(149, 154, 154);
}

.span {
  grid-column: 1 / span 2;
}
